/* General Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: black;
    --background-color: white;
    --secondary-color: gray;
    --tile-background-color: rgb(231, 231, 231);
}

body {
    font-family: "Inter", sans-serif;
    display: grid;
    gap: 2rem;
}

a {
    all: unset;
}

ul {
    list-style: none;
}

button {
    all: unset;
    cursor: pointer;
}

/* Navbar */
.navbar {
    position: sticky;
    z-index: 1000;
    top: 0;
    border-bottom: 2px solid var(--primary-color);
    background-color: var(--background-color);
    padding: 0.8rem 4rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.logo {
    justify-self: start;
    align-items: center;
    height: 2rem;
}

.logo img {
    height: 2rem;
}

.menu-toggle {
    display: none;
    height: 2rem;
}


.nav-links {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-template-columns: auto auto 1fr auto;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-weight: normal;
    color: var(--primary-color);
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link a {
    justify-self: start;
}

.nav-link a::before {
    content: attr(data-content);
    display: block;
    height: 0;
    font-weight: bold;
    visibility: hidden;
}

.nav-link a:hover {
    transform: scale(1.05);
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: underline;
}

.selected-nav a {
    font-weight: bold;
    transform: scale(1.05);
    text-decoration: underline;
    color: var(--primary-color);
}

.selected-nav a:hover {
    transform: scale(1.05); 
}

/* Link Buttons */
.link-button {
    border: 2px solid var(--primary-color);
    background-color: var(--background-color);
    border-radius: 25rem;
    padding: 0.4rem 1rem;
    text-decoration: none;
    color: var(--primary-color);
    transition: background-color 0.5s, color 0.5s; /* Unified transitions */
    display: inline-block;
}

.link-button a {
    all: unset;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.link-button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.download-icon {
    width: 1.2rem;
}

/* Pages */
.page {
    /* background-color: lightgray; */
    margin: 0 4rem;
    padding-top: 2rem;
}

.page-title {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.6rem;
    /* color: var(--secondary-color); */
    /* border: 2px solid blue; */
}

/* About Page */
#about {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
}

.about-me {
    /* border: 2px solid blue; */
    grid-row: 2; grid-column: 1 / span 2;
}

.intro-welcome {
    font-weight: bold;
    font-size: 1.6rem;
    /* border: 2px solid limegreen; */
    grid-row: 3; grid-column: 1;
}

#read-more {
    /* border: 2px solid magenta; */
    grid-row: 4; grid-column: 2;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1rem;
    color: var(--secondary-color);
    transition: all 0.3s;
    
}

#read-more:hover {
    transform: scale(1.05);
    color: var(--primary-color);
    cursor: pointer;
}

#education {
    /* border: 2px solid blue; */
    text-align: right;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 1rem;
}

#about-details {
    grid-row: 3; grid-column: 2;
    grid-template-rows: auto auto 1fr;
    display: grid;
    gap: 1rem;
    /* border: 2px solid red; */
}

#status {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    text-align: right;
}

.intro-heading {
    font-size: 2.5rem;
    font-weight: normal;
    /* border: 2px solid red; */
    margin: auto;
    margin-bottom: 0.5rem;
    /* text-align: center; */
}

.about-description {
    font-weight: normal;
    font-size: 1.2rem;
    /* border: 2px solid green; */
    margin: auto;
    /* margin-bottom: 2rem; */
    /* text-align: center; */
}

.degree {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

.concentration {
    font-weight: normal;
    font-style: italic;
}

.institution {
    font-weight: normal;
    font-size: 1.2rem;
}

.bold-text {
    font-weight: bold;
}

/* Contact Page */
#contact {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
}

.contact-subtitle {
    grid-column: 1;
    font-size: 2.5rem;
    font-weight: normal;
}

.contact-container {
    grid-column: 1;
    grid-row: 3; grid-column: 2;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;
}

.social-links {
    display: flex;
    gap: 1rem;
}


/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
    padding: 1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Projects Page */
#projects {
    display: grid;
    gap: 2rem;
    grid-template-rows: auto 1fr;
}

.project-tile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: 2rem;
    align-items: center; /* Align content vertically */
}

#projects:last-child {
    border-bottom: none;
}

.project-image img {
    max-height: calc(1.1 * 100%); /* Set height relative to parent */
    width: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Prevent distortion */
}


.project-info {
    display: grid;
    gap: 1rem;
    grid-template-rows: auto auto auto 1fr;
    margin-right: 3rem;
}

.project-title {
    font-size: 2rem;
    font-weight: bold;
}

.project-description {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.project-tools {
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
}

.project-tools .dot {
    margin: 0 1rem;
}

.project-links {
    margin-top: 2rem;
    display: flex;
    gap: 1.2rem;
    font-size: 1rem;
}

/* Media Queries */

@media screen and (max-width: 585px) {

    /* nav turns to hamburger menu here! */
    .menu-toggle {
        display: block;
        justify-self: end;
    }

    .nav-links {
        display: none; 
        position: absolute;
        top: 100%; 
        width: 100%;
        height: 100vh;
        background-color: var(--primary-color);
        grid-template-columns: 1fr;
        text-align: center;
        grid-template-rows: 1fr auto auto auto 1fr;
        gap: 1rem;
        border-top: 2px solid var(--background-color);
        a {
            color: var(--background-color);
        }
        .nav-link {
            align-self: end;
        }
        .nav-link a:hover {
            color: var(--background-color);
        }

        .link-button {
            background-color: var(--primary-color);
            border: 2px solid var(--background-color);
            width: fit-content;
            margin: auto;
        }

        .link-button:hover {
            background-color: var(--background-color);
            a {
                color: var(--primary-color);
            }
        }
    }

    .menu-icon {
        height: 2rem;
    }
    
    .close-icon {
        height: 2rem;
    }

    .hidden {
        display: none;
    }

    .nav-links.active {
        display: grid;
    } 
    
}

@media screen and (max-width: 846px) {
   /* project tiles will be 1 column */
    .project-tile {
        grid-template-columns: 1fr;
        /* border: 2px solid var(--secondary-color); */
        /* padding: 2rem; */
        /* border-radius: 25px; */
        /* background-color: var(--tile-background-color); */
    }

    .project-info {
        margin-right: 0;
    }

    .project-links {
        margin-top: 0.5rem;
    }

    .project-image img {
        display: none;
    }

    /* desktop image will be replaced with 3 columns for mobile images.
       some images will span 1 column, some will span 2, some will span 3.
       it depends on how many images are in the mobile-images array.
       3 images will span 1 column each.
       2 images will have the first span 1 column and the second span 2 columns.
       1 image will span 3 columns.
    */
}

/* 750px the about and contact pages will be 1 column */
@media screen and (max-width: 780px) {
    #about, #contact {
        display: grid;
        grid-template-columns: 1fr;
        /* background-color: aquamarine; */
    }

    /* reset grid-column for child elements */
    .contact-container,
    .about-me,
    .intro-welcome,
    #about-details,
    #read-more {
        grid-column: 1;
    }

    #about-details {
        grid-row: auto;
    }

    #education {
        /* justify-self: center; */
        justify-self: start;
        text-align: left;
        /* text-align: center; */
        border-top: 2px solid var(--secondary-color);
        padding-top: 1rem;
    }

    #status {
        /* display: block; */
        /* border: 2px solid red; */
        /* align-items: start; */
        /* text-align: left; */
    }

    /* makes this the last element in the single col grid */
    #read-more {
        grid-row: -1;
    }
    
    
}


